# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

**/*.Localhost.json

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.nuget/

# Visual Studio 2015
.vs/
HTSS.DataKlas.Microservice.Anaf/.idea/.idea.HTSS.DataKlas.Microservice.Anaf/.idea/encodings.xml
HTSS.DataKlas.Microservice.Anaf/.idea/.idea.HTSS.DataKlas.Microservice.Anaf/.idea/indexLayout.xml
HTSS.DataKlas.Microservice.Anaf/.idea/.idea.HTSS.DataKlas.Microservice.Anaf/.idea/projectSettingsUpdater.xml
HTSS.DataKlas.Microservice.Anaf/.idea/.idea.HTSS.DataKlas.Microservice.Anaf/.idea/vcs.xml
HTSS.DataKlas.Microservice.Anaf/.idea/.idea.HTSS.DataKlas.Microservice.Anaf/.idea/workspace.xml

**/.wsuo
**/slnx.sqlite
.vs/efactura/v17/.wsuo
.vs/efactura/FileContentIndex/read.lock
.vs/efactura/v17/.wsuo
/.vs
.vs/efactura/v17/.wsuo
.vs/slnx.sqlite
.vs/efactura/v17/.wsuo
.vs/efactura/v17/.wsuo
.vs/slnx.sqlite
.vs/efactura/v17/.wsuo
.vs/slnx.sqlite
.vs/efactura/v17/.wsuo
/.vs/efactura/v17/.wsuo
/.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
