<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="utils/invoiceApp/angular1.8.2.min.js"></script>
    <script src="utils/invoiceApp/app.js"></script>
    <script src="utils/invoiceApp/controllers.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="invoiceCtrl">
        <h1 class="title">{{title}}</h1>

        <span>Rata (€/h): </span>
        <input type="text" ng-model="rate" />
        <br />

        <span>Curs euro (lei/€): </span>
        <input type="text" ng-model="exchangeRate" />
        <br />

        <span>Cota TVA (%): </span>
        <input type="text" ng-model="vatPercentage" />
        <br />

        <span>Ore muncite (h): </span>
        <input type="text" ng-model="workedHours" />
        <br />

        <span>Pre unitate (lei/h): </span>
        <span>{{truncatedUnitPrice()}} ({{unitPrice()}})</span>
        <br />

        <span>Valoare fara TVA (lei): </span>
        <span>{{netTotal()}}</span>
        <br />

        <span>Valoare TVA (lei): </span>
        <span>{{getVat()}} ({{vatValue()}})</span>
        <br />

        <span>Total cu TVA (lei): </span>
        <span>{{getTotal()}}</span>
        <br />
    </div>
    <style>
        .title {
            padding-left: 150px;
        }
    </style>
</body>
</html>
