<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="utils/invoiceApp/angular1.8.2.min.js"></script>
    <script src="utils/invoiceApp/app.js"></script>
    <script src="utils/invoiceApp/controllers.js"></script>
    <script src="utils/invoiceApp/decimal.min.js"></script>
    <link href="utils/invoiceApp/default.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div ng-app="myApp" ng-controller="invoiceCtrl">
        <h1 class="title">{{title}}</h1>

        <table>
            <tr>
                <td><span>Cota TVA (%): </span></td>
                <td><input type="text" ng-model="vatPercentage" disabled /></td>
            </tr>
            <tr>
                <td><span>Rata (€/h): </span></td>
                <td><input type="text" ng-model="rate" disabled /></td>
            </tr>
            <tr>
                <td><span>Curs euro (lei/€): </span></td>
                <td><input type="text" ng-model="exchangeRate" /></td>
            </tr>
            <tr>
                <td><span>Ore muncite (h): </span></td>
                <td><input type="text" ng-model="workedHours" /></td>
            </tr>
            <tr>
                <td><span>Pret unitate (lei/h): </span></td>
                <td><span>{{getUnitPrice()}}</span></td>
            </tr>
            <tr>
                <td><span>Valoare fara TVA (lei): </span></td>
                <td><span>{{getNetValue()}}</span></td>
            </tr>
            <tr>
                <td><span>Valoare TVA (lei): </span></td>
                <td><span>{{getVatValue()}}</span></td>
            </tr>
            <tr>
                <td><span>Total cu TVA (lei): </span></td>
                <td><span>{{getTotal()}}</span></td>
            </tr>
        </table>

        <br />
        <br />

        <table class="articles">
            <tr>
                <th><span>Linie</span></th>
                <th><span>Nume articol</span></th>
                <th><span>Pret articol</span></th>
                <th><span>Cantitate</span></th>
                <th><span>Valoare fara TVA</span></th>
                <th><span>TVA</span></th>
                <th><span>Valoare cu TVA</span></th>
            </tr>
            <tr>
                <td><span>1</span></td>
                <td><span>Prestare servicii conform contract</span></td>
                <td><span>{{getUnitPrice()}}</span></td>
                <td><span>{{workedHours ? workedHours : 0}}</span></td>
                <td><span>{{getNetValue()}}</span></td>
                <td><span>{{getVatValue()}}</span></td>
                <td><span>{{getTotal()}}</span></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total</b></td>
                <td><span>{{getTotal()}}</span></td>
            </tr>
        </table>
    </div>
</body>
</html>
